<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Around Bali </title>
    <link rel="stylesheet" href="rute.css">
</head>
<body>
    <div class="col-1">
    <div class="container">
        <div class="navbar">
            <p>JM</p>         
            <nav>                
              <ul id="menuList">
                <li><a href="index.html">Home</a></li>
                <li><a href="mobil.html">mobil</a></li>
                <li><a href="">tiket</a></li>
                <li><a href="">dekripsi</a></li>
              </ul>
            </nav>        
            
        </div>
        <article>
                <img src = "bedugul.jpg" width="150px" height="150px">
                <div class = "konten">
                    <h6>Bedugul tour</h6>
                    <p class = "diskon">PROMO <s>IDR 325,000</s></p>
                    <a class="btn btn-mobil" target="_blank" 
                    href="new-ayla-r-automatic.html">Booking!</a> 
                    <P class = "price">IDR 775,000</P>
                    <p>Half Day : On Request
                        Over Time : 10% from price / hours
                        Brand-new minivan with air conditioning
                        Recommended for 4 passengers (maximum 7 without luggage)
                        Driver & Fuel Included
                        Mineral Water</p>                    
                </div>                       
            </article>

            <article>
                <img src = "ubud.jpg" width="150px" height="150px">
                <div class = "konten">
                    <h6>ubud tour</h6>
                    <p class = "diskon">PROMO <s>IDR 325,000</s></p>
                    <a class="btn btn-mobil" target="_blank" 
                    href="view/new-ayla-r-automatic.html">Booking!</a> 
                    <P class = "price">IDR 775,000</P>
                    <p>Half Day : On Request
                        Over Time : 10% from price / hours
                        Brand-new minivan with air conditioning
                        Recommended for 4 passengers (maximum 7 without luggage)
                        Driver & Fuel Included
                        Mineral Water</p>                    
                </div>                       
            </article>

            <article>
                <img src = "besakih.jpg" width="150px" height="150px">
                <div class = "konten">
                    <h6>besakih tour</h6>
                    <p class = "diskon">PROMO <s>IDR 325,000</s></p>
                    <a class="btn btn-mobil" target="_blank" 
                    href="view/new-ayla-r-automatic.html">Booking!</a> 
                    <P class = "price">IDR 775,000</P>
                    <p>Half Day : On Request
                        Over Time : 10% from price / hours
                        Brand-new minivan with air conditioning
                        Recommended for 4 passengers (maximum 7 without luggage)
                        Driver & Fuel Included
                        Mineral Water</p>                    
                </div>                       
            </article>

            <article>
                <img src = "uluwatu.jpg" width="150px" height="150px">
                <div class = "konten">
                    <h6>uluwatu tour</h6>
                    <p class = "diskon">PROMO <s>IDR 325,000</s></p>
                    <a class="btn btn-mobil" target="_blank" 
                    href="view/new-ayla-r-automatic.html">Booking!</a> 
                    <P class = "price">IDR 775,000</P>
                    <p>Half Day : On Request
                        Over Time : 10% from price / hours
                        Brand-new minivan with air conditioning
                        Recommended for 4 passengers (maximum 7 without luggage)
                        Driver & Fuel Included
                        Mineral Water</p>                    
                </div>                       
            </article>
        </main>
    </div>

    
</body>
</html>


